<div class="List__all__items">
  <div class="List__items__one">
    <img class="List__items_img" src="assets/List--item--img--one.png" alt="">
    <h1 class="List__items_header">Designer</h1>
    <p class="List__items_paragraph">I value simple content structure, clean design patterns, and thoughtful
      interactions. </p>
    <h2 class="List__items_header">Things i enjoy designing:</h2>
    <p class="List__items_paragraph">UX, UI, Web, Mobile, Apps, Logos</p>
    <h3 class="List__items_header">Design tools:</h3>
    <div *ngFor="let listitems of information">
      <ul>
        <li>
          {{listitems.description}}
        </li>
      </ul>
    </div>
  </div>
  a
  <div class="List__items__two">
    <img class="List__items_img" src="assets/List__items__two__img.jpg">
    <h1 class="List__items_header">Front-end Developer</h1>
    <p class="List__items_paragraph">I like to code things from scratch, and enjoy bringing ideas to life in
      the browser. interactions.</p>
    <h2 class="List__items_header">Languages I speak:</h2>
    <p class="List__items_paragraph">HTML, Pug, Slim, CSS, Sass, Less</p>
    <h3 class="List__items_header">Dev Tools:</h3>

    <div *ngFor="let listitems of information">
      <ul>
        <li>
          {{listitems.description}}
        </li>
      </ul>
    </div>


  </div>



  <div class="List__items__three">
    <img class="List__items_img" src="assets/list--item--img--three.png">
    <h1 class="List__items_header">Mentor</h1>
    <p class="List__items_paragraph">I genuinely care about people, and love helping fellow designers work on their
      craft.
    </p>
    <h2 class="List__items_header">Experiences I draw from:</h2>
    <p class="List__items_paragraph">UX/UI, Product design, Freelancing</p>
    <h3 class="List__items_header">Mentor Stats:</h3>

    <div *ngFor="let listitems of information">
      <ul>
        <li>
          {{listitems.description}}
        </li>
      </ul>
    </div>

  </div>

</div>


<!--My Testimonials  -->
<div class="testimonials">

  <div class="main--header--of--testimonials">
    <h1 class="first--header">Testimonials</h1>
    <h2 class="second--header">People I've worked with have said some nice things...</h2>

  </div>

  <div class="carousel" style="display: inline-block;">
    <img class="carousel--images " src="assets/pascal.png">
    <p class="carousel--paragraph">
      “Matt was a real
      pleasure to work with and we look forward to working with
      him again.
      He’s definitely the kind of designer you can trust with
      a project from start to finish.”
    </p>
    <div class="carousel--bottom--header">
      <h2 class="headers--of--carousel">Pascal Tremblay</h2>
      <h3 class="headers--of--carousel">Creative Lead, Good Kind</h3>
    </div>
  </div>

  <div class="carousel">
    <img class="carousel--images" src="assets/alvin.png">
    <p class="carousel--paragraph">
      “Matt's a clear communicator
      with the tenacity and confidence
      to really dig in to tricky design
      scenarios and the collaborative
      friction that's needed to produce excellent work.”
    </p>
    <div class="carousel--bottom--header">
      <h2 class="headers--of--carousel">Alvin Engler</h2>
      <h3 class="headers--of--carousel">Sr. Systems Developer, Domain7</h3>
    </div>
  </div>

  <div class="dot-container">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
  </div>


</div>