.List__all__items {
  margin-top: 150px;
  width: 95%;
  display: flex;
  background-color: white;
}
.List__items__one {
  background-color: white;
  border-style: solid;
  border-radius: 5%;
  border-color: rgb(245, 229, 244);
  text-align: center;
}
.List__items__two {
  background-color: white;
  border-style: solid;
  border-radius: 5%;
  border-color: rgb(245, 229, 244);
  text-align: center;
  margin: 10px;
}

.List__items__three {
  background-color: white;
  border-style: solid;
  border-radius: 5%;
  border-color: white;
  text-align: center;
  border-color: rgb(245, 229, 244);
}

.List__items_img {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 20px;
  background-color: white;
}
.List__items_header {
  color: blueviolet;
  text-align: center;
  padding: 20px;
  background-color: white;
}
.List__items_paragraph {
  background-color: white;
  font-weight: bold;
}

ul {
  list-style-type: none;
  background-color: white;
  font-weight: bold;
}
li {
  padding: 10px;
  text-align: center;
  background-color: white;
  font-weight: bold;
}

.testimonials {
  background-color: white;
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  width: 100%;
}
.main--header--of--testimonials {
  margin-bottom: 50px;
  background-color: white;
}
.first--header {
  margin-bottom: 20px;
  font-weight: bold;
  background-color: white;
}
.second--header {
  font-weight: lighter;
  font-size: 25px;
  background-color: white;
}
.carousel {
  background-color: white;
  display: none;
}

.carousel--images {
  border-radius: 50%;
  width: 200px;
}
.carousel--paragraph {
  text-align: center;
  width: 600px;
  margin-top: 50px;
  font-size: 25px;
  font-weight: lighter;
  background-color: white;
}
.carousel--bottom--header {
  margin: 30px;
  font-weight: lighter;
  background-color: white;
}
.headers--of--carousel{
  background-color: white;
}

.dot-container {
  background-color: white;
  text-align: center;
  padding: 20px;
  width: 200px;
}

/* The dots/bullets/indicators */
.dot {
  background-color: white;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: blueviolet;
}
