<footer class="footer">
    <h3 class="footer__header">Living, learning, & leveling up one day at a time.</h3>

    <div class="footer__images">
      <a href="https://www.facebook.com/checkpoint/?next"><img src="assets/icons8-facebook.svg" alt=""></a>
      <a href="https://github.com/waelsf"><img src="assets/icons8-github.svg" alt=""></a>
      <a href="https://www.linkedin.com/in/wael-seif-1a5a041a3/"><img src="assets/icons8-linkedin.svg" alt=""></a>
    </div>
    <h4 class="footer__header">&copy;CopyRight</h4>
    <h5 class="footer__header">Made By Wael</h5>
  </footer>
