footer {
    margin-top: 20x;
    text-align: center;
    background-color: blueviolet;
    width: 500px;
  }
  .footer__images {
    width: 300px;
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .footer__header {
    margin-top: 20px;
    font-size: 20px;
    padding: 5px;
  }
  a {
    text-decoration: none;
  }